{# This is a basic layout template for other templates to extend. #}
<!DOCTYPE html>
{# `craft.app.language` will be the language code for the language you chose
when you installed Craft. It will be something like "en-US". #}
<html lang="{{ craft.app.language }}">
  <head>
    {# Meta #}
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport" />
    <meta content="origin-when-cross-origin" name="referrer" />

    {# Assets #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    {# Style #}
    {% set stylesheet = rev('main.css') %}
    {% if stylesheet %}
      <link rel="stylesheet" href="{{ rev('main.css') }}" />
    {% endif %}
  </head>
  <body>
    <nav role="navigation" aria-label="Main">
      {% set firstSegment = craft.app.request.getSegment(1) %}
      <a href="{{ siteUrl }}">Home</a>
      <a href="{{ url('about') }}">About</a>
    </nav>
    
    {# Content #}
    {% block content %}{% endblock %}

    <footer class="page-footer">&copy; {{ now | date('Y') }}, Built with <a href="https://craftcms.com">Craft CMS</a></footer>

    {# Scripts #}
    <script src="{{ rev('main.js') }}"></script>
  </body>
</html>
